.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  padding: 0 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

@media screen and (min-width: 400px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
  }
}

@media screen and (min-width: 600px) {
  .grid {
    padding: 0 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .grid {
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
  }
}