.emptyListContainer {
  height: 80vh;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.card {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  text-align: center;
  margin: 15px 0;
  background: rgb(245, 245, 245);
}

.description {
  flex-grow: 4;
  padding: 0 15px;
}

.actionContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 6px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.cardImage {
  padding: 10px;
  margin: 0 auto;
}

.actionContainer p {
  padding: 20px;
  font-size: 18px;
}

.actionContainer button {
  margin: 0 auto;
  width: 45px;
  height: 45px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 50%;
  transition: all .2s;
  cursor: pointer;
  background: rgb(248, 248, 248);
  color: rgb(0, 0, 0);
}

.actionContainer button:hover {
  color: rgb(255, 0, 0);
}

.buttonDelete {
  color: rgb(255, 0, 0);
}

.buttonDelete:hover {
  border: 1.5px solid red !important;
  color: red !important;
}

.buttonPayment {
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid rgb(0, 0, 0);
  background: #fff;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.shopButton {
  padding: 10px 13px;
  background-color: #fff;
  border: 1px solid black;
}

@media screen and (min-width: 600px) {
  .card {
    grid-template-columns: auto auto 300px;
  }

  .cardImage {
    margin: 0;
    background: rgb(228, 228, 228);
  }

  .description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .description h2 {
    padding: 0 10px;
  }
}