.card {
  background: rgb(231, 231, 231);
  border-radius: 10px;
}

.cardImage {
  transition: all .5s ease;
  background: rgb(243, 243, 243);
  object-fit: contain;
  width: 100%;
  height: 180px;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
}

.cardImageHidden {
  opacity: 0;
  width: 100%;
  height: 180px;
}

.cardDesc {
  position: relative;
  padding: 10px;
}

.cardDesc p {
  text-indent: 5px;
  font-size: 14px;
  overflow: hidden;
  color: rgb(85, 85, 85);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.cardDesc h2 {
  text-indent: 5px;
  font-size: 18px;
  color: rgb(42, 59, 77);
}

.cardDesc span {
  background: linear-gradient(50deg,rgb(69, 187, 255), rgb(0, 116, 224));
  color: #fff;
  padding: 5px 8px;
  position: absolute;
  top: -40px;
  right: 10px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .cardDesc p span {
    font-size: 16px;
  }

  .cardDesc h2 {
    font-size: 24px;
  }

}